$layout-max-width: 1440px;
$layout-padding-desktop: 79px;

$color-primary: #3442b5;
$color-secondary: #f7ca11;

$text-color-primary: #4e4e4e;
$text-color-secondary: #3442b5;
$color-text-darker: #3f3f40;
$color-text-muted: #808080;

$color-bg-light: #f4f4f4; 

$color-border-100: #f0f0f0;
$color-border-200: #eaeaea;

$color-cta-dark: #271c47;
$color-white: #ffffff;
$color-black: #222;
$color-gray-medium: #9f9f9f;

$shadow-sm: rgba(57, 48, 19, 0.15);
$shadow-strong: rgba(0, 0, 0, 0.25);
